@import '../../_variables.scss';

.swiper--rooms {
  width: 100%;
  padding-top: 2em;
  padding-bottom: 10em;

  .swiper-slide {
    height: 14em;
    position: relative;
    text-align: center;
  }

  .swiper-slide__room-features {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .swiper-slide__room-description {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 90%;
    transform: translate(-50%, 85%);
    background-color: white;
    padding: 0.5em 1em;

    .text {
      max-width: none;
      margin: 1em 0;
    }

    .swiper-slide__room-description__price {
      font-weight: 700;
      font-family: $font-archivo;
      color: $beige-tan;
      font-size: 0.9rem;
      margin-right: 0.5em;

      >span {
        font-size: 0.65rem;
      }
    }

    .swiper-slide__room-description__booking {
      font-weight: 700;
      font-family: $font-archivo;
      color: #BDBDBD;
      font-size: 0.8rem;
    }
  }

  .swiper-slide__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-button-next,
  .swiper-button-prev {
    top: 9em;
  }
}

@media only screen and (min-width: 1000px) {
  .swiper--rooms {
    padding-bottom: 15em;

    .swiper-button-next {
      top: 10em;
    }

    .swiper-button-prev {
      top: 10em;
    }

    .swiper-slide {
      height: 17em;

      .swiper-slide__room-features {
        transition: all 100ms ease;
        opacity: 0;
      }

      .swiper-slide__room-description {
        transition: all 100ms ease;
        opacity: 0;
      }

    }

    .swiper-slide-active {
      margin: 0 1em;

      .swiper-slide__room-features {
        opacity: 1;
      }

      .swiper-slide__room-description {
        opacity: 1;
        padding: 0.5em 1.25em;

        .swiper-slide__room-description__price {
          font-size: 1.5rem;

        }
      }
    }
  }
}

@media only screen and (min-width: 1500px) {
  .swiper--rooms {
    .swiper-button-next {
      right: 28%;
    }

    .swiper-button-prev {
      left: 30%;
    }

    .swiper-slide {
      .swiper-slide__room-description {
        display: flex;
        text-align: left;

        .swiper-slide__room-description__price {
          margin-left: 2em;
          margin-top: 2em;
          width: 45%;
        }
      }
    }
  }
}