@import './_variables.scss';

.footer {
  width: 100%;
  background-color: transparent;
  position: relative;
}

.footer::before {
  content: '';
  background-image: url('../../public/img/patrondereja.webp');
  background-repeat: repeat;
  background-size: auto;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: calc(100% - 4em);
  z-index: -1;
}

.footer__info {
  position: relative;
  padding: 1em;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  p {
    font-size: 0.7rem;
    font-family: $font-archivo;
    line-height: 1.5;
    color: #777777;
    max-width: 20em;
  }
}

.footer__media {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25em;
  margin-top: 1em;
}

.footer__subtitle {
  font-family: $font-roboto;
  font-size: 1rem;
  margin-top: 1.8em;
  margin-bottom: 1.5em;
  font-weight: 400;
}

.footer__info__services {
  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5em;
    list-style-type: none;
    margin-top: 1em;

    li {
      font-family: $font-roboto;
      color: #777777;
      font-size: 0.7rem;
      position: relative;
      padding: 0.25em 0;
      padding-left: 1em;
    }

    li::before {
      content: "+";
      position: absolute;
      left: 0;
      color: $beige-tan;
    }
  }
}

.footer__contact-link {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
  margin-bottom: 1em;
}

.footer__contact-link__title {
  font-family: $font-old-standard-tt;
  font-size: 0.8rem;
  color: #222222;
}

.footer__contact-link__subtitle {
  font-family: $font-roboto;
  font-size: 0.7rem;
  color: #777777;
}

.footer__contact-link__icon {
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-top: 0.2em;

  >img {
    width: 35px;
    height: 35px;
  }
}

.footer__cr-text {
  position: relative;
  display: flex;
  font-family: $font-roboto;
  background-color: transparent;
  font-size: 0.75rem;
  font-weight: 400;
  flex-direction: column;
  gap: 0.5em;
  padding: 0 1em;
  max-width: 375px;
  min-height: 5em;
  margin-left: auto;
  margin-right: auto;
  align-items: flex-start;
  justify-content: center;
}

@media only screen and (min-width: 1000px) {
  .footer__info {
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    padding-top: 4em;
    padding-bottom: 3em;
    display: flex;
    flex-direction: row;
    gap: 2.5em;
  }

  .footer__info__about,
  .footer__info__service,
  .footer__info__contact {
    width: 100%;
    flex: 1;
  }

  .footer__subtitle {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .footer__cr-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
  }

}

@media only screen and (min-width: 1500px) {
  .footer__info {
    max-width: 1150px;
  }

  .footer__cr-text {
    max-width: 1150px;
  }
}