@import '../../_variables.scss';

.swiper--related-rooms {
  width: 100%;
  margin-top: 2em;

  .swiper-slide {
    position: relative;
    text-align: center;
    background-color: white;
    cursor: pointer;
  }


  .swiper-slide__room-description {
    position: relative;
    padding: 1.5em 0.5em;

    .swiper-slide__room-features {
      position: absolute;
      top: 0;
      left: 50%;
      width: 80%;
      transform: translate(-50%, -50%);
    }

    .text {
      margin: 0;
      margin-bottom: 1.5em;
    }

    .swiper-slide__room-description__price {
      font-weight: 700;
      font-family: $font-archivo;
      color: $beige-tan;
      font-size: 1.4rem;
      margin-right: 1.5em;

      >span {
        font-size: 0.65rem;
      }
    }

    .swiper-slide__room-description__booking {
      font-weight: 700;
      font-family: $font-archivo;
      color: #BDBDBD;
      font-size: 1rem;
    }
  }

  .swiper-slide__img {
    width: 100%;
    height: 13em;
    object-fit: cover;
  }

  .swiper-button-next,
  .swiper-button-prev {
    top: 9em;
  }
}

@media only screen and (min-width: 1000px) {

  .swiper--related-rooms {
    padding: 0.75em 1em;

    .swiper-slide {
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

      .swiper-slide__room-features {
        width: 100%;
      }

      .swiper-slide__room-description {
        padding: 0.5em 0.7em;
        padding-bottom: 1em;

        .text {
          margin: 1em 0;
        }

        .swiper-slide__room-description__price {
          font-size: 1rem;

          >span {
            font-size: 0.6rem;
          }
        }

        .swiper-slide__room-description__booking {
          font-size: 0.9rem;
        }
      }
    }
  }
}