@import '../_variables.scss';
@import 'swiper/facilities.scss';
@import 'swiper/food.scss';
@import 'swiper/menu.scss';
@import 'swiper/rooms.scss';

.stats__content {
  background-color: #222222;
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  padding: 3.5em 0;
}

.stats__item {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;

  >img {
    max-width: 75px;
    max-height: 75px;
  }
}

.stats__item__title {
  color: #FFFFFF;
  font-family: $font-roboto;
  font-weight: 700;
  font-size: 2.4rem;
  margin-top: 0.5em;
}

.stats__item__subtitle {
  color: #999999;
  font-family: $font-roboto;
  font-size: 0.75rem;
}

.food-menu {
  padding: 0 1em;
  padding-top: 2em;
  position: relative;
}

.food-menu__donut--1 {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

.food-menu__donut--2 {
  display: none;
}


.rooms {
  text-align: center;
}

.intro-video {
  position: relative;
  background-color: #222222;

  >div {
    display: block;
    padding: 5em 1em;
  }

  .intro-video__video {
    margin: 1em 0;
    height: 13em;
    width: 100%;
    >video{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .title {
    color: #FFFFFF;
  }

  .subtitle {
    color: $beige-tan;
  }

  .text {
    color: #C2C2C2;
  }
}

.intro-video__video--mobile {
  display: block;
}

.intro-video__video--desktop {
  display: none;
}

.about-us {
  position: relative;

  >div {
    padding: 2em 1em;
  }

  .about-us__text {
    max-width: none;
    font-size: 0.7rem;
  }
}

.about-us:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: -1;
  height: 35%;
  background-color: #F9F9F9;
}

.about-us__card {
  display: flex;
  flex-direction: column;
  margin-top: 3em;
  padding: 0 0.5em;

  .about-us__card__img {
    height: 16em;
    width: 100%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .about-us__card__description {
    display: block;
    text-align: center;
    color: #111111;
    background-color: #FFFFFF;
    padding: 3.5em 0.5em;
    position: relative;

    .about-us__card__description__icon {
      z-index: 2;
      position: relative;

      img {
        z-index: 3;
        position: relative;
      }
    }

    .about-us__card__description__background-icon {
      position: absolute;
      right: 0;
      top: 15%;
      z-index: 1;
    }

    .about-us__card__description__title {
      font-family: $font-old-standard-tt;
      font-size: 1.5rem;
      font-weight: 400;
      margin: 0.5em 0;
      z-index: 2;
      position: relative;
    }

    .about-us__card__description__text {
      font-family: $font-roboto;
      font-size: 0.7rem;
      font-weight: 400;
      line-height: 1.8;
      z-index: 2;
      position: relative;
    }
  }
}

.about-us__card--black {
  .about-us__card__description {
    background-color: #222222;
    color: #FFFFFF;
  }
}

.intro {
  position: relative;

  >div {
    padding-top: 8em;
  }

  h1,
  h2,
  label {
    color: #FFFFFF;
  }

  h1 {
    max-width: 60%;
    line-height: 1.4;
    margin-bottom: 3em;
  }

  .button {
    min-width: 14em;
  }

  form {
    margin-top: 3em;
    padding: 2em 0;
    display: block;

    label {
      font-family: $font-roboto;
      font-weight: 700;
      font-size: 0.85rem;
      width: 100%;
      text-align: left;
    }

    .date-input-container {
      position: relative;
      margin-top: 0.5em;
      margin-bottom: 1.5em;
    }

    .date-input-container::after {
      content: url(../../public/icon/calendar_icon%202.svg);
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    input {
      cursor: pointer;
      width: 100%;
      border: none;
      background-color: transparent;
      border-bottom: 2px solid $beige-tan;
      color: #686868;
      font-family: $font-roboto;
      font-weight: 400;
      font-size: 0.7rem;
      height: 2.7em;
      padding-left: 2.5em;
    }
  }
}

.intro::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 29em;
  z-index: -1;
  background-color: #333333;
}

.intro::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-color: #222222;
}

@media only screen and (min-width: 1000px) {
  .intro {
    >div {
      padding-top: 12em;
    }

    .button--black {
      margin-left: 0;
    }

    h2 {
      font-size: 4rem;
      max-width: 7em;
      margin-bottom: 0;
    }

    form {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: left;
      gap: 2em;
      margin-top: 3em;
      padding: 1em 0;

      label {
        font-size: 0.7rem;
      }

      input {
        min-width: 20em;
      }

      .button {
        margin: 0;
        margin-left: 4em;
        height: fit-content;
      }
    }
  }

  .intro::after {
    top: 19.5em;
    height: 32em;
    transform: translateY(-50%);
  }

  .about-us {
    width: 100%;
    position: relative;

    >div {
      padding: 0;
      display: flex;
      flex-direction: row-reverse;
      gap: 2.5em;
      transform: translateX(-5%);
    }

    .about-us__header {
      margin-top: 6.5em;
      width: 30%;

      .text {
        max-width: 30em;
      }
    }

    .cards-container {
      display: flex;
      flex-direction: row;
      width: 70%;
      gap: 2.5em;
    }

    .about-us__card {
      gap: 2em;
      padding: 0;
      margin: 0;
    }

    .about-us__card__img {
      height: 16em;
    }

    .about-us__card__description {
      padding: 4.5em 0.5em;
    }
  }

  .about-us:after {
    content: "";
    position: absolute;
    top: 27%;
    width: 45%;
    z-index: -1;
    height: 75%;
    background-color: #F9F9F9;
  }

  .about-us__card--white {
    margin-bottom: 2em;
    flex-direction: column-reverse;
  }

  .about-us__card--black {
    margin-top: 2em;
  }

  .rooms {
    padding: 0;
  }

  .intro-video {
    >div {
      padding: 5em 0;
      display: flex;
      flex-direction: row;
      gap: 2em;
      z-index: 0;
      position: relative;
    }

    .text {
      max-width: 28em;
    }

    .intro-video__video--mobile {
      display: none;
    }

    .intro-video__video--desktop {
      display: block;
      margin: 0;
      margin-top: 4em;
      height: 21em;
      width: 42em;
    }
  }

  .intro-video::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    background-color: $beige-tan;
    z-index: -2;
  }

  .intro-video::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    transform: translateX(0%);
    background-color: #222222;
    z-index: -1;
  }

  .stats__content {
    flex-direction: row;
    gap: 1em;
  }

  .food-menu {
    padding: 0;
    padding-top: 5em;
  }


  .food-menu__donut--1 {
    display: none;
  }

  .food-menu__donut--2 {
    display: block;
    position: absolute;
    top: -5em;
    left: -5%;
    transform: translateX(-100%);
  }
}